
/* Main Div */
#wrapper {
    position: relative;
}

/* Canvas with the game */
.cv {
    position: absolute;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    display: block;
    top: 0;
    left: 50%;
    margin-left: -400px;

    width: 800px;
    height: 600px;


}

#board {
    border: 1px solid black;
    border-radius: 3px;
}

.control {
    padding: 10px 10px;
    color: #ffffff;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
}

#commands {
    position: fixed;
    z-index: 1;
    left: 1%;
    top: 1%;
    text-align: center;
}