
/* Main Div */
#wrapper {

}

/* Canvas with the game */
#board {
	border: 1px solid black;
	border-radius: 3px;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    display: block;

    width: 800px;
    height: 600px;

}

.control {
    padding: 10px 10px;
    color: #ffffff;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
}

#commands {
    position: fixed;
    z-index: 1;
    left: 1%;
    top: 1%;
    text-align: center;
}